body {
	margin-top: 10px; 
	margin-bottom: 10px; 
	margin-left: 10px; 
	margin-right: 10px;  
	font:11px arial;
	color: black;
	background-color: white;
}

td, p, input, textarea, select {
	font: 11px arial;
}

.tiny {
	font: 9px tahoma;
	letter-spacing: 0px;
}

a:link {
	color: #D33131;
}
a:hover {
	color: #D33131;
}
a:visited {
	color: #D33131;
}
a:active {
	color: #D33131;
}

.mi {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
}

.mi_a {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: none;
	padding-left: 10px;
	padding-right: 10px;
}


table.grid {
	margin-top: 5px;
	margin-bottom: 5px;
}

table.grid th {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	font: 10px arial;
	font-weight: bold;
	background-color: #eeeeee;
	text-align: left;
}

table.grid td {
	padding-left: 10px;
	padding-right: 10px;
}


h1 {
	font-size: 22px; 
	letter-spacing: -1px; 
	color: black;
	font-family: times; 
}

h2 {
	font-size: 16px; 
	letter-spacing: -1px; 
	color: #808080; 
	margin-bottom: 0.5 em;
}

h3 {
	font-size: 14px; 
	letter-spacing: -1px;
	margin-bottom: 0.5 em;
/*	color: #999999; */
}

p.hint {
	font-family: times;
	color: #a0a0a0;
}

tr.selectedRow {
	background-color: #ffffc0;
}